<div class="alert alert-block alert-info">
<h3>Student Information</h3> Please provide information about yourself.<br>
<b>Name</b>: Shengtao Lin<br>
<b>NetID</b>: sl1377<br>
<b>Notes to Grader</b> (optional):<br>
<br><br>
<b>IMPORTANT</b>
Your work will not be graded withour your initials below<br>
I certify that this lab represents my own work and I have read the RU academic intergrity policies at<br>
<a href="https://www.cs.rutgers.edu/academic-integrity/introduction">https://www.cs.rutgers.edu/academic-integrity/introduction </a><br>
<b>Initials</b>:SL     


<h3>Grader Notes</h3>
<b>Your Grade<b>:<br>
<b>Grader Initials</b>:<br>
<b>Grader Comments</b> (optional):<br>
</div>

# Lab 7: Linear Models, Feature Engineering and Logistic Regression

** This lab is due Sunday November 24, 2019 at 11:59pm (graded on accuracy and completeness) **

In this lab we will work through the process of:
1. implementing a linear model, defining loss functions, 
2. feature engineering,
3. minimizing loss functions using numeric libraries 
4. how to implement logistic regression model for a binary classification problem

We will use the toy tip calculation dataset from sns.

## Set up

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
np.random.seed(42)
plt.style.use('fivethirtyeight')
sns.set()
sns.set_context("talk")
%matplotlib inline

## Load the Tips Dataset

To begin with, we load the tips dataset from the `seaborn` library.  The tips data contains records of tips, total bill, and information about the person who paid the bill.

In [6]:
data = sns.load_dataset("tips")
print("Number of Records:", len(data))
data.head()

Number of Records: 244

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Part 1: Defining the Model and Feature Engineering

In lab 6, we defined a simple linear model with only one parameter. Now let's make a more complicated model that utilizes other features in a dataset. Let our prediction for tip be a combination of the following features:

$$
\text{Tip} = \theta_1 * \text{total_bill} + \theta_2 * \text{sex} + \theta_3 * \text{smoker} + \theta_4 * \text{day} + \theta_5 * \text{time} + \theta_6 * \text{size}
$$

Notice that some of these features are not numbers! But our linear model will need to predict a numerical value. 
### Task 1.1 Split the data into Y(tip) and X(all others)

In [7]:
## BEGIN SOLUTION
tips = data['tip']
X = data[['total_bill','sex','smoker','day','time','size']]
#print(tips.head())
#print(X.head())
## END SOLUTION

## Task 1.2: Feature Engineering
First, let's convert everything to numerical values. A straightforward approach is to map some of these non-numerical features into numerical ones. For example, we can treat the day as a value from 1-7. However, one of the disadvantages in directly translating to a numeric value is that we unintentially assign certain features disproportionate weight. Consider assigning Sunday to the numeric value of 7. Monday is assigned to 1 and thus Sunday has 7 times the influence of Monday in our linear model which can lower the accuracy of our model.

solution: one-hot encoding! 

As discussed in lecture 9.2, one-hot encoding will produce a binary vector indicating the non-numeric feature. Sunday would be encoded as a [0 0 0 0 0 0 1]. This assigns a more even weight across each category in non-numeric features. Complete the code below to one-hot encode our dataset.

In [8]:
def one_hot_encode(data):
    """
    Return the one-hot encoded dataframe of our input, data. 
    Hint: check pd.get_dummies
    """
    ### BEGIN SOLUTION

    data=pd.get_dummies(data,columns=['sex','smoker','day','time'])
    return data
    
    ### END SOLUTION

In [9]:
one_hot_X = one_hot_encode(X)
one_hot_X.head()

,total_bill,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,16.99,2,0,1,0,1,0,0,0,1,0,1
1,10.34,3,1,0,0,1,0,0,0,1,0,1
2,21.01,3,1,0,0,1,0,0,0,1,0,1
3,23.68,2,1,0,0,1,0,0,0,1,0,1
4,24.59,4,0,1,0,1,0,0,0,1,0,1

## Task 1.2: Defining the Model
Now that all of our data is numeric, let's define our model function. Note that X and thetas are matrices now. Use matrix products to compute the model.

In [10]:
def linear_model(thetas, X):
    """
    Return the linear combination of thetas and features as defined above.
    """
    ### BEGIN SOLUTION

    return(np.dot(X,thetas))
    
    ### END SOLUTION
#linear_model(np.arange(1,5), np.arange(1,5))

In [11]:
assert linear_model(np.arange(1,5), np.arange(1,5)) == 30

# Part 2: Fitting the Model: Numeric Methods
Recall in the previous lab we defined multiple loss functions and found optimal theta using the scipy.minimize function. Adapt the loss functions and optimization code from the previous lab (provided below) to work with your new linear model.

In [12]:
from scipy.optimize import minimize

def abserror(y, y_hat):
    return np.abs(y-y_hat)

def sqerror(y, y_hat):
    return (y - y_hat)**2

def minimize_average_loss(loss_function, model, x, y):
    """
    loss_function: either the squared or absolute loss functions from above.
    model: the model (as defined above)
    x: the x values (one-hot encoded data)
    y: the y values (tip amounts)
    return the estimate for each theta as a vector
    
    Note we will ignore failed convergence for this lab ... 
    """
    
    ## Notes on the following function call which you need to finish:
    # 
    # 0. the ... should be replaced with the average loss evaluated on 
    #       the data x, y using the model and appropriate loss function
    # 1. x0 are the initial values for THETA.  Yes, this is confusing
    #       but optimization people like x to be the thing they are 
    #       optimizing.
    # 2. We extract the 'x' entry in the dictionary which corresponds
    #       to the value of thetas at the optimum
    ### BEGIN SOLUTION
    
    return minimize(lambda theta: np.sum(loss_function(model(theta, x), y))/len(y), x0=np.zeros(x.shape[1]))['x']
    
    #return minimize(lambda theta: ..., x0=...)
    ### END SOLUTION


minimize_average_loss(sqerror, linear_model, one_hot_X, tips)

array([0.094487  , 0.1759912 , 0.18411085, 0.21655235, 0.15712761,
       0.24353555, 0.01519972, 0.17746092, 0.05600946, 0.15199343,
       0.23440129, 0.1662616 ])

# Part 3: Fitting the Model: Analytic Methods
Let's also fit our model analytically, for the l2 loss function. In this question we will derive an analytical solution, fit our model and compare our results with our numerical optimization results.

## Task 3.1: Least Squares Solution
Recall that if we're fitting a linear model with the l2 loss function, we are performing least squares! Remember, we are solving the following optimization problem for least squares:

$$\min_{\theta} ||X\theta - y||^2$$

Let's begin by deriving the analytic solution to least squares. Write your answer in LaTeX in the cell below. Assume X is full column rank.

### BEGIN SOLUTION
Take the gradient and set theta equal to 0. 

$$2(X\theta - y) = 0$$
$$ \nabla((\theta^TX^T-y^T)(X\theta-y))=0 $$
$$ 2X^TX\theta-2X^Ty=0$$
$$ \theta = (X^TX)^{-1}X^Ty $$
### END SOLUTION

## Task 3.2: Solving for Theta
Now that we have the analytic solution for $\theta$, let's find the optimal numerical thetas for our tips dataset. Fill out the function below. Make sure you use the float type in your calculations using .astype(float) and use the np.linalg.inv function.

In [13]:
def get_analytical(x, y):
    """
    x: our one-hot encoded dataset
    y: tip amounts
    """
    ### BEGIN SOLUTION
    xTx = x.astype(float).T.dot(x.astype(float))
    xTy = x.astype(float).T.dot(y.astype(float))
    return np.linalg.inv(xTx).dot(xTy)
    #return np.dot(np.dot(np.linalg.inv(np.dot(x.T.astype(float), x.astype(float))), x.T.astype(float)), y.astype(float))
    ### END SOLUTION

In [14]:
analytical_thetas = get_analytical(one_hot_X.astype(float), tips.astype(float))
print("Our analytical loss is: ", sqerror(linear_model(analytical_thetas, one_hot_X),tips).mean())
print("Our numerical loss is: ", sqerror(linear_model(minimize_average_loss(sqerror, linear_model, one_hot_X, tips), one_hot_X), tips).mean())

Our analytical loss is:  328.6182469774592
Our numerical loss is:  1.010353561236738

In [15]:
assert np.isclose(sqerror(linear_model(analytical_thetas, one_hot_X),tips).mean(), 59.733414754098362)

AssertionError:

## Task 3.3: Weird Results?
Our analytical loss is surprisingly much worse than our numerical loss. Why is this? 

Hint: https://stackoverflow.com/questions/31256252/why-does-numpy-linalg-solve-offer-more-precise-matrix-inversions-than-numpy-li

### BEGIN SOLUTION
My analytical loss is differetn from the sample output. One reason can be the matrix I got from part 2 has different order than the sample output. The analytical loss is 99.7% worse than the numerical loss. The reason can be np.linalg.inv was used in calculating analytical loss. It will cause more numerical error and more floating point calculation that made the result less accurate.
### END SOLUTION

# Part 4 - Logistic Regression
In this part we will implement a logistic regression model with the tip data set. We will use Male and Female as the binary classification. We will use the LogisiticRegression model from sklearn to find a prediction model.

## task 4.1
** create the X (one-hot features) and y (sex) **

In [16]:
## BEGIN SOLTUION
X = pd.get_dummies(data,columns=['smoker','day','time']).drop(columns=['sex','tip'])
y = data['sex']




## END SOLUTION
print(X.head())
print(y.head())

   total_bill  size  smoker_Yes  smoker_No  day_Thur  day_Fri  day_Sat  \
0       16.99     2           0          1         0        0        0
1       10.34     3           0          1         0        0        0
2       21.01     3           0          1         0        0        0
3       23.68     2           0          1         0        0        0
4       24.59     4           0          1         0        0        0

   day_Sun  time_Lunch  time_Dinner
0        1           0            1
1        1           0            1
2        1           0            1
3        1           0            1
4        1           0            1
0    Female
1      Male
2      Male
3      Male
4    Female
Name: sex, dtype: category
Categories (2, object): [Male, Female]

## task 4.2 
Split the data set to training and test using sklearn train_test_split

In [17]:
from sklearn.model_selection import train_test_split
## BEGIN SOLUTION



X_train, X_test, y_train, y_test = train_test_split(X,y)
## END SOLUTION

print (X_train.head(), X_test.head(), y_train.head(), y_test.head())

     total_bill  size  smoker_Yes  smoker_No  day_Thur  day_Fri  day_Sat  \
115       17.31     2           0          1         0        0        0
181       23.33     2           1          0         0        0        0
225       16.27     2           1          0         0        1        0
68        20.23     2           0          1         0        0        1
104       20.92     2           0          1         0        0        1

     day_Sun  time_Lunch  time_Dinner
115        1           0            1
181        1           0            1
225        0           1            0
68         0           0            1
104        0           0            1        total_bill  size  smoker_Yes  smoker_No  day_Thur  day_Fri  day_Sat  \
24        19.82     2           0          1         0        0        1
6          8.77     2           0          1         0        0        0
153       24.55     4           0          1         0        0        0
211       25.89     4           1          0         0        0        1
198       13.00     2           1          0         1        0        0

     day_Sun  time_Lunch  time_Dinner
24         0           0            1
6          1           0            1
153        1           0            1
211        0           0            1
198        0           1            0   115    Female
181      Male
225    Female
68       Male
104    Female
Name: sex, dtype: category
Categories (2, object): [Male, Female] 24       Male
6        Male
153      Male
211      Male
198    Female
Name: sex, dtype: category
Categories (2, object): [Male, Female]

## task 4.3 logistic regression model
Fit a logisitic regression model using LogisticRegression from sklearn

In [18]:
from sklearn.linear_model import LogisticRegression
## BEGIN SOLUTION

logmodel = LogisticRegression().fit(X_train, y_train)
print(logmodel)

## END SOLUTION

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

/Users/LINHTS/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

## task 4.4 Predicting
Now we can use the logmodel from previous part to predict on the test data

In [19]:
## BEGIN SOLUTION


predictions = logmodel.predict(X_test)
#print(predictions)
## END SOLUTION

## task 4.5 reporting
use classification_report from sklearn.metrics to report the accuracy of the model.

In [20]:
from sklearn.metrics import classification_report
## BEGIN SOLUTION


print(classification_report(predictions,y_test))

## END SOLUTION

              precision    recall  f1-score   support

      Female       0.30      0.55      0.39        11
        Male       0.88      0.72      0.79        50

    accuracy                           0.69        61
   macro avg       0.59      0.63      0.59        61
weighted avg       0.77      0.69      0.72        61

### Feedback
Please provide feedback on this lab.
* how would you rate this lab (from 1-10, 10-highest) :
* how can we improve his lab? :

<div class="alert alert-block alert-info">
<h2>Submission Instructions</h2> 
<b> File Name:</b> Please name the file as your_section_your_netID_lab7.jpynb<br>
<b> Submit To: </b> Canvas &rarr; Assignments &rarr; lab7 <br>
<b>Warning:</b> Failure to follow directions may result in loss points.<br>
</div>

Developed by A.D. Gunawardena. Credits: Josh Hug, Berkeley Data Science Lab